<section class="home">
    <div class="welcome">
        {{#if isLoggedIn}}
            <h1>bienvenido <span class="user"> {{firstName}} {{lastName}}</span></h1>
            <p>rol: {{rol}}</p>
        {{/if}}
    </div>
    <article class="card-container">
        {{#each products}}
            <div class="card">
                <section class="card-image"><img width="100px" src="{{thumbnail}}" alt="imagen"></section>
                <section class="card-info">
                    <h3 class="card-info-title">{{title}}</h3>
                    <br>
                    <p class="productId">Owner: {{owner}}</p>
                    <br>
                    <p class="card-info-description">{{description}}</p>
                    <br>
                    <div class="btn-price">
                        <p class="card-info-price">${{price}}</p>
                        <button class="btn-card" data-product-id="{{_id}}" data-cart-id="{{../cartId}}">Agregar al carrito</button>
                    </div>
                </section>
            </div>
        {{/each}}
    </article>

    <div>
        Current page: {{products.page}}
        {{#if products.hasPrevPage}}
            <a href="/home?page={{products.prevPage}}&limit={{products.limit}}&sort={{products.sort}}">Prev</a>
        {{/if}}


        {{#if products.hasNextPage}}
            <a href="/home?page={{products.nextPage}}&limit={{products.limit}}&sort={{products.sort}}">Next</a>
        {{/if}}
    </div>
</section>
