<div class="">
    <h1>Hola {{firstName}} {{lastName}}</h1>
    <h2>Datos del perfil:</h2>
    <p>Edad: {{age}}</p>
    <p>Email: {{email}}</p>
    <p>Rol: {{rol}}</p>
    <a href="/">Inicio</a>
</div>

